html {
  font-size: 1rem;
}
// Nav
#nav {
  img {
    width: 3rem;
  }
  .btn {
    background-image: $color_third !important;
    border-radius: 2rem;
  }
  .mini-menu {
    .fab-bars {
      &:hover {
        ul {
          display: block !important;
        }
      }
    }
  }
}
// Header
#header {
  padding: 7rem 0;
  width: 100%;
  background-image: $color_third;
  h2 {
    font-size: 4rem !important;
  }
  h2,
  .btn,
  i {
    color: $color_second;
  }
  .btn {
    border-color: $color_second;
    border-radius: 2rem;
    transition: background-color 0.4s;
    i {
      margin-left: 0.4rem;
    }
    &:hover {
      color: #fff;
      background-color: $color_second;
      i {
        color: #fff;
      }
    }
  }
  li {
    border-color: $color_second !important;
    transition: background-color 0.3s;
    &:hover {
      i {
        color: #fff;
      }
      background-color: $color_second;
    }
  }
  .img {
    border-color: $color_second !important;
    transition: transform 0.5s;
    transform: rotate(10deg);
    &:hover {
      transform: unset;
    }
  }
}
// Main
#main {
  // Services
  #services {
    h2 {
      color: $color_second;
      font-size: 3rem;
    }
    .widget {
      .widget-item {
        transition: background-color 0.4s;
        cursor: pointer;
        &:hover {
          background-color: $color_second;
        }
        &:nth-child(1) {
          background-color: $color_second;
        }
      }
      hr {
        height: 0.2rem;
        background-color: $color_second;
      }
    }
  }
  // Works
  #works {
    background-image: $color_third;
    h2 {
      font-size: 3rem;
      color: $color_second;
    }
    ul {
      width: 21rem;
      li {
        transition: background-color 0.3s;
        &:nth-child(1) {
          background-color: $color_second;
        }
        &:hover {
          background-color: $color_second !important;
        }
      }
    }
    .wrapper {
      background-image: $color_third !important;
      .content {
        background-image: $color_third !important;
        bottom: 0;
        transition: all 0.4s;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        cursor: pointer;
      }
      &:hover {
        .content {
          bottom: 20px;
          visibility: visible;
        }
      }
    }
  }
  // Resume
  #resume {
    h2 {
      margin-bottom: 1rem;
      color: $color_second;
      i {
        margin-right: 0.5rem !important;
      }
    }
    .item {
      background-image: $color_third;
      margin-bottom: 1.5rem;
      transition: background-color 0.4s;
      &:hover {
        background-image: unset !important;
        background-color: $color_second;

        h5 {
          color: #fff !important;
        }
      }
      h5 {
        color: $color_second;
      }
    }
  }
  // Skills
  #skills {
    background-image: $color_third;
    h2 {
      font-size: 3rem !important;
      color: $color_second;
    }
    p {
      font-size: 1.2rem !important;
    }
    .skill {
      h5 {
        color: $color_second;
      }
      .wrapper {
        transition: background-color 0.6s;
        border-color: $color_second !important;
        img {
          filter: grayscale(1);
          transition: filter 0.6s;
        }
        &:hover {
          background-color: $color_second;
          filter: grayscale(0);
          h4 {
            color: $color_first !important;
          }
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
  // Testimonials
  #testimonials {
    h2 {
      color: $color_second;
    }
    .wrapper {
      background-image: $color_third;
      .logo {
        height: 2rem !important;
      }
      .client {
        height: 5rem !important;
        border-radius: 0.5rem;
        border-bottom-left-radius: 90%;
      }
      i {
        color: $color_second;
      }
    }
  }
  // Blogs
  #blogs {
    background-image: $color_third;
    h6 {
      background-color: $color_second;
      font-size: 0.8rem;
      top: 5%;
      left: 5%;
    }
    h2 {
      color: $color_second;
      font-size: 4rem !important;
    }
    .wrapper {
      cursor: pointer;

      img {
        transition: transform 0.4s;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      .content {
        background-image: $color_third;
        bottom: 1rem;
        width: 100%;
        li {
          font-size: 0.9rem;
          color: $color_second;
          i {
            margin-right: 0.2rem;
          }
        }
      }
    }
  }
  // Contact
  #contact {
    .wrapper {
      background-image: $color_third;
      h2 {
        font-size: 3rem;
        color: $color_second;
      }
      input,
      select {
        outline: none !important;
        &:hover {
          border-color: $color_second !important;
        }
      }
      input[type="submit"] {
        background-image: $color_third;
        border-radius: 2rem;
      }
    }
    li {
      i {
        background-image: $color_third !important;
        transition: transform 0.3s;
      }
      a {
        transition: color 0.4s;
        &:hover {
          color: $color_second !important;
        }
      }
      &:hover {
        i {
          transform: scale(1.2);
        }
      }
    }
  }
}
