// XX-Large devices (larger desktops, 1400px and down)
@media only screen and (max-width: 1400px) {
}
// X-Large devices (large desktops, 1200px and down)
@media only screen and (max-width: 1200px) {
}

// Large devices (desktops, 992px and down)
@media only screen and (max-width: 992px) {
  #nav {
    .mail,
    .btn {
      display: none;
    }
  }
  #header {
    h2 {
      font-size: 3rem !important;
    }
  }
  #main {
    #services {
      .widget-item {
        h3 {
          font-size: 1.5rem !important;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and down)
@media only screen and (max-width: 768px) {
  #nav {
    .mail,
    .logo {
      display: none !important;
    }
    .menu {
      justify-content: center !important;
    }
  }
  #header {
    .img {
      width: 20rem;
    }
  }
  #main {
    #services {
      .widget-item {
        h3 {
          font-size: 1rem !important;
        }
        p {
          font-size: 0.7rem !important;
        }
      }
    }
  }
}

// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
  #nav {
    .menu {
      padding: 1rem 0;
      li {
        padding: 0 !important;
        font-size: 0.8rem !important;
      }
    }
  }
  #main {
    #works {
      ul {
        width: 19rem !important;
        li {
          padding: 0.4rem 0.8rem !important;
        }
      }
    }
  }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
  #nav {
    .menu {
      li {
        padding: 0 !important;
        font-size: 0.7rem !important;
      }
    }
  }
  #header {
    h2 {
      font-size: 2rem !important;
    }
    .buttons {
      display: block !important;
      .btn {
        margin-bottom: 1rem;
      }
    }
    .img {
      width: 15rem;
    }
    .exp {
      h2 {
        font-size: 1.8rem !important;
      }
    }
  }
  #main {
    #services {
      h2 {
        font-size: 1rem !important;
      }
      .widget-item {
        h3 {
          font-size: 0.6rem !important;
        }
        p {
          font-size: 0.6rem !important;
        }
      }
    }
    #works {
      h2 {
        font-size: 2rem !important;
      }
      ul {
        width: 17rem !important;
        li {
          padding: 0.4rem 0.5rem !important;
        }
      }
      .content {
        h3 {
          font-size: 0.9rem !important;
        }
        P {
          font-size: 0.5rem !important;
        }
      }
    }
    #skills {
      h2 {
        font-size: 1.8rem !important;
      }
      p {
        font-size: 1rem !important;
      }
    }
  }
}
