html {
  font-size: 1rem;
}

#nav img {
  width: 3rem;
}
#nav .btn {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%) !important;
  border-radius: 2rem;
}
#nav .mini-menu .fab-bars:hover ul {
  display: block !important;
}

#header {
  padding: 7rem 0;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
}
#header h2 {
  font-size: 4rem !important;
}
#header h2,
#header .btn,
#header i {
  color: #683cc0;
}
#header .btn {
  border-color: #683cc0;
  border-radius: 2rem;
  transition: background-color 0.4s;
}
#header .btn i {
  margin-left: 0.4rem;
}
#header .btn:hover {
  color: #fff;
  background-color: #683cc0;
}
#header .btn:hover i {
  color: #fff;
}
#header li {
  border-color: #683cc0 !important;
  transition: background-color 0.3s;
}
#header li:hover {
  background-color: #683cc0;
}
#header li:hover i {
  color: #fff;
}
#header .img {
  border-color: #683cc0 !important;
  transition: transform 0.5s;
  transform: rotate(10deg);
}
#header .img:hover {
  transform: unset;
}

#main #services h2 {
  color: #683cc0;
  font-size: 3rem;
}
#main #services .widget .widget-item {
  transition: background-color 0.4s;
  cursor: pointer;
}
#main #services .widget .widget-item:hover {
  background-color: #683cc0;
}
#main #services .widget .widget-item:nth-child(1) {
  background-color: #683cc0;
}
#main #services .widget hr {
  height: 0.2rem;
  background-color: #683cc0;
}
#main #works {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
}
#main #works h2 {
  font-size: 3rem;
  color: #683cc0;
}
#main #works ul {
  width: 21rem;
}
#main #works ul li {
  transition: background-color 0.3s;
}
#main #works ul li:nth-child(1) {
  background-color: #683cc0;
}
#main #works ul li:hover {
  background-color: #683cc0 !important;
}
#main #works .wrapper {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%) !important;
}
#main #works .wrapper .content {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%) !important;
  bottom: 0;
  transition: all 0.4s;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  cursor: pointer;
}
#main #works .wrapper:hover .content {
  bottom: 20px;
  visibility: visible;
}
#main #resume h2 {
  margin-bottom: 1rem;
  color: #683cc0;
}
#main #resume h2 i {
  margin-right: 0.5rem !important;
}
#main #resume .item {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
  margin-bottom: 1.5rem;
  transition: background-color 0.4s;
}
#main #resume .item:hover {
  background-image: unset !important;
  background-color: #683cc0;
}
#main #resume .item:hover h5 {
  color: #fff !important;
}
#main #resume .item h5 {
  color: #683cc0;
}
#main #skills {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
}
#main #skills h2 {
  font-size: 3rem !important;
  color: #683cc0;
}
#main #skills p {
  font-size: 1.2rem !important;
}
#main #skills .skill h5 {
  color: #683cc0;
}
#main #skills .skill .wrapper {
  transition: background-color 0.6s;
  border-color: #683cc0 !important;
}
#main #skills .skill .wrapper img {
  filter: grayscale(1);
  transition: filter 0.6s;
}
#main #skills .skill .wrapper:hover {
  background-color: #683cc0;
  filter: grayscale(0);
}
#main #skills .skill .wrapper:hover h4 {
  color: #49288a !important;
}
#main #skills .skill .wrapper:hover img {
  filter: grayscale(0);
}
#main #testimonials h2 {
  color: #683cc0;
}
#main #testimonials .wrapper {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
}
#main #testimonials .wrapper .logo {
  height: 2rem !important;
}
#main #testimonials .wrapper .client {
  height: 5rem !important;
  border-radius: 0.5rem;
  border-bottom-left-radius: 90%;
}
#main #testimonials .wrapper i {
  color: #683cc0;
}
#main #blogs {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
}
#main #blogs h6 {
  background-color: #683cc0;
  font-size: 0.8rem;
  top: 5%;
  left: 5%;
}
#main #blogs h2 {
  color: #683cc0;
  font-size: 4rem !important;
}
#main #blogs .wrapper {
  cursor: pointer;
}
#main #blogs .wrapper img {
  transition: transform 0.4s;
}
#main #blogs .wrapper:hover img {
  transform: scale(1.1);
}
#main #blogs .wrapper .content {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
  bottom: 1rem;
  width: 100%;
}
#main #blogs .wrapper .content li {
  font-size: 0.9rem;
  color: #683cc0;
}
#main #blogs .wrapper .content li i {
  margin-right: 0.2rem;
}
#main #contact .wrapper {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
}
#main #contact .wrapper h2 {
  font-size: 3rem;
  color: #683cc0;
}
#main #contact .wrapper input,
#main #contact .wrapper select {
  outline: none !important;
}
#main #contact .wrapper input:hover,
#main #contact .wrapper select:hover {
  border-color: #683cc0 !important;
}
#main #contact .wrapper input[type=submit] {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%);
  border-radius: 2rem;
}
#main #contact li i {
  background-image: linear-gradient(90deg, rgb(55, 56, 75) 0%, rgb(48, 44, 58) 35%, rgb(43, 17, 100) 100%) !important;
  transition: transform 0.3s;
}
#main #contact li a {
  transition: color 0.4s;
}
#main #contact li a:hover {
  color: #683cc0 !important;
}
#main #contact li:hover i {
  transform: scale(1.2);
}

@media only screen and (max-width: 992px) {
  #nav .mail,
  #nav .btn {
    display: none;
  }
  #header h2 {
    font-size: 3rem !important;
  }
  #main #services .widget-item h3 {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 768px) {
  #nav .mail,
  #nav .logo {
    display: none !important;
  }
  #nav .menu {
    justify-content: center !important;
  }
  #header .img {
    width: 20rem;
  }
  #main #services .widget-item h3 {
    font-size: 1rem !important;
  }
  #main #services .widget-item p {
    font-size: 0.7rem !important;
  }
}
@media only screen and (max-width: 576px) {
  #nav .menu {
    padding: 1rem 0;
  }
  #nav .menu li {
    padding: 0 !important;
    font-size: 0.8rem !important;
  }
  #main #works ul {
    width: 19rem !important;
  }
  #main #works ul li {
    padding: 0.4rem 0.8rem !important;
  }
}
@media only screen and (max-width: 320px) {
  #nav .menu li {
    padding: 0 !important;
    font-size: 0.7rem !important;
  }
  #header h2 {
    font-size: 2rem !important;
  }
  #header .buttons {
    display: block !important;
  }
  #header .buttons .btn {
    margin-bottom: 1rem;
  }
  #header .img {
    width: 15rem;
  }
  #header .exp h2 {
    font-size: 1.8rem !important;
  }
  #main #services h2 {
    font-size: 1rem !important;
  }
  #main #services .widget-item h3 {
    font-size: 0.6rem !important;
  }
  #main #services .widget-item p {
    font-size: 0.6rem !important;
  }
  #main #works h2 {
    font-size: 2rem !important;
  }
  #main #works ul {
    width: 17rem !important;
  }
  #main #works ul li {
    padding: 0.4rem 0.5rem !important;
  }
  #main #works .content h3 {
    font-size: 0.9rem !important;
  }
  #main #works .content P {
    font-size: 0.5rem !important;
  }
  #main #skills h2 {
    font-size: 1.8rem !important;
  }
  #main #skills p {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=style.css.map */